*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}


.poster{
    max-width: 100%;
    height: 45px;
    background: #4cb1ca;
}


h1,h2,h3,h4,h5,h6,p,ul,li,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav .logo{
    margin-top: 50px;
}




header nav ul li a{
    display: flex;
    max-width: 100%;
    color: #656565;
    font-size: 14px;
    padding: 50px 20px;
    transition: 0.5s;
}

header nav ul li a:hover{
    background: #5cc9e4;
    color: #fff;
}